{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Welcome, {{ username }}</h1>

<p>Balance: {{ balance }}</p>

<ul>
    {% for tx in transactions %}
        <li>{{ tx.category }} — {{ tx.amount }}</li>
    {% endfor %}
</ul>
<div style="text-align: right; padding: 10px;">
    <button onclick="logout()" style="background-color: #f44336; color: white; padding: 10px; border: none; cursor: pointer;">
        Logout
    </button>
</div>

<script>
    function logout() {
        // 1. Delete the cookie by setting its age to 0
        // IMPORTANT: The path=/ must match how you set it during login
        document.cookie = "access_token=; path=/; max-age=0";

        // 2. Redirect to the login page
        window.location.href = "/log";
    }
</script>
{% endblock %}
